<header class="header">
    <div class="navigation-trigger hidden-xl-up" data-ma-action="aside-open" data-ma-target=".sidebar">
        <div class="navigation-trigger__inner">
            <i class="navigation-trigger__line"></i>
            <i class="navigation-trigger__line"></i>
            <i class="navigation-trigger__line"></i>
        </div>
    </div>
    <div class="header__logo hidden-sm-down">
        <a class="" href="index.html"><img class="the-logo" src="assets/demo/img/logo-files/bookinn.png"></a>

        
        <h1>
            <a class="mb-0 text-capitalize font-12">Reception Desk Portal</a>
        </h1>
    </div>
    <form class="search">
        <div class="search__inner">
            <input type="text" class="search__text" placeholder="Search site">
            <i class="zmdi zmdi-search search__helper" data-ma-action="search-close"></i>
        </div>
    </form>
    
    <ul class="top-nav">
        <li class="hidden-xl-up"><a href="#" data-ma-action="search-open"><i class="zmdi zmdi-search"></i></a></li>
        
        <li data-toggle="tooltip" data-original-title="Time logged in" class=" top-nav__notifications p-0 m-0">
            <a href="#" data-toggle="dropdown"  class="top-nav__notify min-width-15px" >
                <i class="zmdi zmdi-time"></i>
            </a>
            
        </li>
        
        <li data-toggle="tooltip" data-original-title="Time logged in " class="">
            <a href="#" data-toggle="dropdown"  class="" >
                3 min
            </a>
            
        </li>
        
        <li class="ml-5" >
            <a href="new-parent.html" data-toggle="tooltip" data-original-title="Tasks completed" >
                <i class="mdi mdi-pulse"></i><span class="mx-3">22</span>
            </a>
        </li>
    </ul>

    
</header>